@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@layer components {
  main {@apply
    m-0 p-0
  ;}
  
  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    @apply bg-slate-100 text-slate-800;
  }

    h1 {@apply text-5xl ;}
    h2 {@apply text-4xl ;}
    h3 {@apply text-3xl ;}
    h4 {@apply text-2xl ;}
    h5 {@apply text-xl ;}
    h5 {@apply text-lg ;}

  p {@apply text-justify}

  .link {@apply
    text-green-300
    hover:text-green-400
    active:text-green-500
    transition-colors duration-200
  ;}


  footer {
    > div {@apply
      bg-slate-800 pb-5 px-5
      flex flex-col justify-center items-center
      text-slate-400 gap-2
      w-full
    ;}

    p {@apply text-lg}
    //> span {@apply }
  }

  ul {@apply list-disc pl-6}
  ol {@apply list-decimal pl-6}
}
