.home {
  .hero {
    @apply flex m-auto justify-center items-center h-screen bg-cover bg-center shadow-2xl text-slate-200;
    .hero__carousel {@apply absolute w-full h-full top-0 left-0}
    .hero__text {@apply flex flex-col gap-2 z-10}
  }

  .featured {@apply mt-32 mx-16 sm:mx-8 mb-5 z-10;
    .featured__container {@apply max-w-5xl mx-4 flex flex-col gap-8}
    .featured__row {@apply grid gap-6 sm:grid-cols-2}
  }

  .aboutme__container {
    @apply max-w-4xl mx-6 flex flex-col-reverse md:flex-row-reverse gap-8 my-2 z-10;
    margin-top: -3rem;
    .aboutme__text {@apply flex-1 flex flex-col gap-4}
    .aboutme__profile {@apply h-full w-full md:w-40 mt-2 flex flex-row md:flex-col gap-4;  }
  }

  .contact {
    @apply mt-10 mb-24 mx-4 flex justify-center;
    .contact__container {@apply
      bg-slate-800 bg-opacity-95 rounded-xl
      text-slate-200
      transition transition-all duration-200
      py-4 w-full sm:w-auto p-10 md:px-16
      hover:-translate-x-2
      hover:translate-y-2
      mt-32
    ;

      box-shadow:
        -6px 8px #475569,
        -12px 16px #64748b,
        -12px 16px 40px 5px #93a6c5;

      &:hover {
        box-shadow:
          -2px 4px #475569,
          -4px 8px #64748b,
          -4px 8px 40px 5px #93a6c5;
      }

      .form__input {
        @apply w-full px-4 py-2 border bg-slate-800 border-slate-900 rounded-lg;
        &:focus-visible {@apply outline-none ring-2 ring-blue-400}
      }

      .form__button {
        @apply w-full px-4 py-2 border bg-slate-800 border-slate-900 rounded-lg;
        &:hover {@apply bg-slate-900;}
        &:active {@apply bg-slate-700;}
      }
    }
  }
}

.full {@apply w-full h-full}